@import'../../_setting.scss';


.board-content{
   height: $board-content-height;
   display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    &:after{
      content: '';
      flex: 0 0 $gap;
    }
    &::-webkit-scrollbar{
       -webkit-appearance:none;
    }
    &::-webkit-scrollbar:horizontal{
        height: 11px;
     }
     &::-webkit-scrollbar-thumb{
        background-color: $common-bg-element;
        border-radius: 8px;
     }
     .columns-drop-preview {
      background-color: rgba(150, 150, 200, 0.1);
      border: 1px dashed #abc;
      margin: 5px 45px 5px 5px;
    }
    .new-columns{
      font-size: 15px;
      max-width: 300px;
      width: 300px;
      height: 40px;
      line-height: 32px;
      padding: 4px 0 4px 15px;
      cursor: pointer;
      color: white;
      margin-left: $gap;
      border-radius: $column-border-radius;
      background-color: hsla(0, 0%, 100%, 0.24);
      &:hover{
         background-color: hsla(0, 0%, 100%, 0.453);
      }
    }
    .enter-new-columns{
      max-width: 300px;
      width: 300px;
     background-color: $list-bg-color;
     line-height: 32px;
     padding: 4px 15px 4px 15px;
     margin-left: $gap;
     border-radius: $column-border-radius;
     .input-column{
      margin: 5px 0;
     }
     span.cancel-column{
      cursor: pointer;
      .font-awesome{
         font-size: 20px;
         padding: 0 $gap;
         color: rgba(51, 51, 51, 0.727);
         transform: translateY(4px);
         &:hover{
            color: darken(black , 15);
         }

      }
     }
    }
}
