@import'./_setting.scss';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.3rem;
}
.App{
    height: 100vh;
    display: grid;
    grid-template-rows: 40px 50px 1fr;
    background-color: $broad-bg-color;
}