@import "~bootstrap/scss/bootstrap";
@import'./_setting.scss';
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 14px;
    line-height: 1.3rem;
}
.App{
    height: 100vh;
    overflow: hidden;
    background-color: $board-bg-color;
    color: $app-bg-color;
    .icon{
        font-size: 14px;
        margin-right:5px;
    }
    .trello-container{
        margin:0 15px;
        padding: 0;

    }
    textarea:focus, 
textarea.form-control:focus, 
input.form-control:focus, 
input[type=text]:focus, 
input[type=password]:focus, 
input[type=email]:focus, 
input[type=number]:focus, 
[type=text].form-control:focus, 
[type=password].form-control:focus, 
[type=email].form-control:focus, 
[type=tel].form-control:focus, 
[contenteditable].form-control:focus {
  box-shadow: none;
}
.btn:focus , .btn:active{
    outline: none !important;
    box-shadow: none !important;
}
}

.Clone-trello {
 background-color: inherit;
 border: none;
 font-size: inherit;
 font-weight: inherit;
}